DJANGO_SECRET_KEY='django-insecure-municipalidad-laserena-sgr-2026-secret-key'
DEBUG=True
ALLOWED_HOSTS='localhost,127.0.0.1'

DB_NAME=sgr_laserena
DB_USER=sgr_user
DB_PASSWORD=pon-aqui-tu-clave
DB_HOST=127.0.0.1
DB_PORT=3306