[Unit]
Description=SGR Municipalidad de La Serena (gunicorn)
After=network.target mariadb.service

[Service]
User=<USUARIO>
Group=<USUARIO>
WorkingDirectory=<RUTA_PROYECTO>
EnvironmentFile=<RUTA_PROYECTO>/.env
ExecStart=<RUTA_PROYECTO>/venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
